<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/neonbutton.css">
    <link rel="stylesheet" href="styles/whiteneonbutton.css">
    <link rel="stylesheet" href="styles/scroller.css">
    <link rel="stylesheet" href="styles/matter.css">
    <link rel="stylesheet" href="styles/loader.css">
</head>


    <div class="loader"></div>
<body>



 
    <div class="page2-header">
        <a href="index.html" class="neon-button1">Back</a>

        <h1 class="maintitle">About <br>
            page
        </h1>

        <a href="index.html" class="neon-button">GRIPBOX</a>

        <div class="whiteline"></div>
    </div>



    <div class="scroller exp-scroller" data-speed="fast">
        <ul class="tag-list scroller__inner">
          <li>
            <button style="background-color: rgb(0, 255, 157); color: black;" class="matter-button-contained">Web developer</button>
          </li>
          <li>
            <button style="background-color: rgb(255, 55, 0); color: black;" href="https://rojo.space/docs/v7/" target="_blank" ng-click="href=www.google.com" class="matter-button-contained">Rojo</button>
          </li>
          <li>
            <button style="background-color: rgb(0, 119, 255); color: black;" href="https://sleitnick.github.io/Knit/docs/intro" target="_blank" ng-click="href=www.google.com" class="matter-button-contained">Knit</button>
          </li>
          <li>
            <button style="background-color: rgb(255, 255, 255); color: black;" class="matter-button-contained">3 years of experience</button>
          </li>

          <li>
            <button style="background-color: rgb(55, 0, 255); color: rgb(255, 255, 255);" class="matter-button-contained">I dont do sport games</button>
          </li>
        </ul>
    </div>


    


    <div class="page2-main">
      <div class="page2-block hovergrow">
          <h2>Personal Information</h2>
          <span>
              Im a 18 year old programmer with 3 years of experience on roblox platform<br>
              I'm looking forward working with you!
          </span>
      </div>
      <div class="page2-block hovergrow">
          <h2>Additional Information</h2>
          <span>
              My work morality decreases to your project when you provide not enough information about your about your project or provide required assets late, responding late.
          </span>
        </div>
  </div>




    
    <div class="socials">
      <a target="_blank" href="https://www.guilded.gg/i/ka8ngwM2" class="page2-block hovergrow guildedblock">
        <h2>Guilded</h2>
        <span>
            Feel free to join the guilded group to write a review later<br>
            I'm looking forward working with you!
        </span>
      </a>
    <a target="_blank" href="https://discord.gg/AGZkkxnjZY" class="page2-block hovergrow discordblock">
        <h2>Discord</h2>
        <span>
            You can also join my discord server where past reviews can be found and information about my status.
        </span>
      </a>
  </div>

    



    <script src="https://cdn.logwork.com/widget/text.js"></script>
    <script src="scripts/infinite-scroll.js"></script>

    <script src="scripts/loader.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>