<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/neonbutton.css">
    <link rel="stylesheet" href="styles/whiteneonbutton.css">
    <link rel="stylesheet" href="styles/scroller.css">
    <link rel="stylesheet" href="styles/matter.css">
    <link rel="stylesheet" href="styles/loader.css">
</head>


    <div class="loader"></div>
<body>




    <div class="button-holder">
        <a href="https://www.roblox.com/groups/16049736/Gripbox#!/about" class="neon-button">GRIPBOX</a>
    </div>


    <div class="backbutton">
        <a href="index.html" class="neon-button1">Back</a>
    </div>

    <div class="page2-header">

      


        <h1 class="maintitle">About <br>
            page
        </h1>

        
    </div>
    


    <div style="justify-content: center; align-items: center; height: 10svh;" data-aos="zoom-in-up" class="page2-content">
        <div  style="background-color: transparent; display: flex; width: 90svw; justify-content: center; align-items: center;" data-aos="zoom-in-up" class="info-block">
            <div style="width: 80svw;" class="scroller" data-speed="fast">
                <ul class="tag-list scroller__inner">
        
                  <li>
                    <button style="background-color: rgb(0, 255, 157); color: black;" class="matter-button-contained">Web developer</button>
                  </li>
                  <li>
                    <button style="background-color: rgb(255, 55, 0); color: black;" href="https://rojo.space/docs/v7/" target="_blank" ng-click="href=www.google.com" class="matter-button-contained">Rojo</button>
                  </li>
                  <li>
                    <button style="background-color: rgb(0, 119, 255); color: black;" href="https://sleitnick.github.io/Knit/docs/intro" target="_blank" ng-click="href=www.google.com" class="matter-button-contained">Knit</button>
                  </li>
                  <li>
                    <button style="background-color: rgb(255, 255, 255); color: black;" class="matter-button-contained">3 years of experience</button>
                  </li>
        
                  <li>
                    <button style="background-color: rgb(55, 0, 255); color: rgb(255, 255, 255);" class="matter-button-contained">I dont do sport games</button>
                  </li>
                </ul>
                </div>
        </div>

    </div>

    
 

    <div data-aos="zoom-in-up" class="page2-content">
        <div data-aos="zoom-in-up" class="info-block hovergrow">
            <h2>
                Personal Information
            </h2>

            <span>
                I'm 18 year's old who has 3 years experience on the roblox platform.
                <br>
                Im looking forward working with you.
                <br>
                My timezone is Central European.

   
                <a href="https://logwork.com/clock-widget/" class="clock-widget-text" data-timezone="Europe/Budapest" data-digitscolor="#ffffff">Current time in Hungary</a>
            </span>

        </div>



        <div data-aos="zoom-in-up" class="info-block hovergrow">
            <h2>
                Additional Information
            </h2>

            <span>
                My work morality decreases to your project when you provide not enough information about your about your project or provide required assets late, responding late.
            </span>

        </div>
    </div>



    <div data-aos="zoom-in-up" class="page2-content" style="margin-top: 0; vertical-align: top;">
        <div style="width: 80svw; justify-content: center; vertical-align: top
        ; align-items: center; margin-top: 30svh;" data-aos="zoom-in-up" class="info-block socials">
            <h2>
                Social Platforms
            </h2>

            
            <iframe src="https://discord.com/widget?id=1015934274924445736&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

            <iframe src="https://www.guilded.gg/canvas_index.html?route=%2Fcanvas%2Fembed%2Fteamcard%2FRpmMw5nl&size=large" width="553" height="280" frameborder="0" scrolling="no"></iframe>
           

        </div>

    </div>



    <script src="https://cdn.logwork.com/widget/text.js"></script>
    <script src="scripts/infinite-scroll.js"></script>

    <script src="scripts/loader.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>