@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    /* Base styles (common for both light and dark mode) */
    --md-ref-typeface-brand: 'Open Sans';
    --md-ref-typeface-plain: system-ui;
    --shapeOne: 28px;
    --catalog-shape-xl:28px;
    --video-shape-xl:20px;
  }
  
  /* Light mode styles */
  @media (prefers-color-scheme: light) {
    :root {
     /*--md-fab-container-color:#f1d3f9;*/

      --md-sys-color-outline-variant:#D5C4AE;
      --md-sys-color-primary: #6442d6; /* Light mode primary color */
      --md-sys-color-secondary: #5d5d74; /* Light mode secondary color */
      --md-sys-color-background: #fff8f3; /* Light mode background color */
      --md-sys-color-surface: #fff8f3; /* Light mode surface color */
      --md-sys-color-surface-container:#f8ecde; /* Light mode surface container color */

      --md-sys-color-surface-dim:#dabc9a;

    }
  }
  
  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    :root {
      --md-sys-color-outline-variant:#000000;
      --md-fab-container-color:black;
      --md-sys-color-primary: #ffc107; /* Dark mode primary color (example) */
      --md-sys-color-secondary: #e6c188; /* Dark mode secondary color (example) */
      --md-sys-color-background: #212121; /* Dark mode background color (example) */
      --md-sys-color-surface-variant:#504534;
      --md-sys-color-surface: #18130b; /* Dark mode surface color (example) */
      --md-sys-color-surface-container:#251f16; /* Dark mode surface container color (example) */
      --md-sys-color-on-surface:#ede1d3;
      --md-sys-color-surface-variant:#504534;
    }
  }
  


html {
    font-family: Google Sans, sans-serif;
    margin: 0;
    padding: 0;
    color:var(--md-sys-color-on-surface);
    overflow: hidden;
    overflow-x: hidden;
}


body {

    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color:var(--md-sys-color-surface-container) ;
    width: 100svw;
    height: 100svh;
    animation: scale-up 0.5s ease-in-out;


}


top-app-bar{
    display: flex;
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
    border: 0;


    background-color:var(--md-sys-color-surface-container) ;

    height: 10svh;
    width: 100svw;

    justify-content: center;
    z-index: 3;

}


.maintabs{
    overflow: hidden;
    overflow-x: hidden;
}



#intro{
    overflow-x: hidden;
}




#comissionpage{
    padding: 20px;
    display: grid;
    justify-content: center;
    visibility: hidden;
    position: absolute;
}







.comission{
    display: flex;
    justify-content: center;
    min-width: 80svw;
    width: 80svw;
    margin: 10px;
    border-radius: var(--video-shape-xl);
}

iframe{
    max-width: 100%;
    width: 800px;
    height: 500px;
}







/*topbar buttons*/
.maintabs {
    border-radius: 20px;
    width: 100%;
}

.generalbtn:active{
    background-color: tomato;
}







.container {    
    align-self: center;
    justify-self: center;
    overflow:auto;
    margin: 0 auto;

    border-radius: var(--shapeOne);
    background-color:var(--md-sys-color-surface) ;

    margin-bottom: 0;

    padding: 20px;
    margin-top: 10svh;
    max-height: 80svh;
    max-width: 90svw;
    height: 80svh;
    width: 100%;



    transition: 0.5s;
    animation-delay: 1s;
    animation:scale-up 0.5s ease-in-out;
}










/*material 3 table type shit*/

.mtable {
    border-spacing: 0;
    border-collapse: separate;
    text-indent: initial;
}


.mhead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.mbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.mtr > td,
.mtr > th {
  border-block-start: 1px solid var(--md-sys-color-outline-variant);
  border-inline-start: 1px solid var(--md-sys-color-outline-variant);
  padding: 5px 10px;
}

.mtr:last-of-type td,
.mtr:last-of-type th {
  border-block-end: 1px solid var(--md-sys-color-outline-variant);
}

.mtr td:last-of-type,
.mtr th:last-of-type {
  border-inline-end: 1px solid var(--md-sys-color-outline-variant);
}

.mtr > th {
  background-color: var(--md-sys-color-surface-container);
  text-shadow: 0 1px 1px var(--md-sys-color-surface-container-lowest);
  color: var(--md-sys-color-on-surface);
  font-size: 1.25em;
}



.mtr th:first-of-type {
    border-start-start-radius: var(--catalog-shape-xl);
}
  
.mtr th:last-of-type {
    border-start-end-radius: var(--catalog-shape-xl);
}
  
.mtr:last-of-type td:first-of-type {
    border-end-start-radius: var(--catalog-shape-xl);
}
  
.mtr:last-of-type td:last-of-type {
    border-end-end-radius: var(--catalog-shape-xl);
}
/*end of table type shit*/


.comission{
    scale: 0.1;opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}





@keyframes fade-in {
    from {scale:.2; opacity: 0;}
    to {scale:1;opacity: 1;}
}



@keyframes scale-up {
    from { transform: scale(0); }
    to { transform: scale(1); }
}




/*not pc screens*/
@media (max-width: 990px) { 

    .credit{
        position: absolute;
        visibility: hidden;
    }

    .menuA {
        max-width: 20svw;
        min-width: 20svw;
    }
    
  
    .container{
        max-height: 90svh;
        max-width: 75svw;
        transition: 0.5s;
    }

    #labelbtn{
        visibility: hidden;
        position: absolute;
    }

    #nolabelbtn{
        visibility: visible;
        position: relative;
    }

}



@media (min-width: 991px) { /*pc screens*/


    
    .menuA {
        max-width: 10svw;
        min-width: 10svw;
    }


    md-fab:hover {
        transform: scale(0.8);
        transition: 0.5s;
    }
    

    .btnh:not(:hover) ~ .txth{
        transition: 0.5s;
    }
    
    
    md-fab:not(:hover){
        transition: 0.5s;
    }


    #nolabelbtn{
        visibility: hidden;
        position: absolute;
    }
    
}