@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    /* Base styles (common for both light and dark mode) */
    --md-ref-typeface-brand: 'Open Sans';
    --md-ref-typeface-plain: system-ui;
    --shapeOne: 28px;
  }
  
  /* Light mode styles */
  @media (prefers-color-scheme: light) {
    :root {
     /*--md-fab-container-color:#f1d3f9;*/
      --md-sys-color-primary: #6442d6; /* Light mode primary color */
      --md-sys-color-secondary: #5d5d74; /* Light mode secondary color */
      --md-sys-color-background: #fff8f3; /* Light mode background color */
      --md-sys-color-surface: #fff8f3; /* Light mode surface color */
      --md-sys-color-surface-container:#f8ecde; /* Light mode surface container color */
    }
  }
  
  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    :root {
    --md-fab-container-color:black;
      --md-sys-color-primary: #ffc107; /* Dark mode primary color (example) */
      --md-sys-color-secondary: #e6c188; /* Dark mode secondary color (example) */
      --md-sys-color-background: #212121; /* Dark mode background color (example) */
      --md-sys-color-surface-variant:#504534;
      --md-sys-color-surface: #18130b; /* Dark mode surface color (example) */
      --md-sys-color-surface-container:#251f16; /* Dark mode surface container color (example) */
      --md-sys-color-on-surface:#ede1d3;
      --md-sys-color-surface-variant:#504534;
    }
  }
  


html {
    font-family: Google Sans, sans-serif;
    margin: 0;
    padding: 0;
    color:var(--md-sys-color-on-surface)
}


body {
    display: flex;
    padding: 0;
    margin: 0;
    background-color:var(--md-sys-color-surface-container) ;
}



md-fab {
    padding: 10px;
    padding-right: 5px;
    padding-bottom: 0px;
}


top-app-bar{
    display: flex;
    position: absolute;

    background-color:var(--md-sys-color-surface-container) ;

    height: 10svh;
    width: 100svw;

    align-items: center;
    padding-left: 20px;
    z-index: 3;

}



.txth {
    font-weight: bold;
    font-size: small;
}

.menuA {
    background-color: var(--md-sys-color-surface);
    z-index: 2;
    border-radius: 25px;
    height: 80svh;
    margin-top: 10svh;
    width: fit-content;
    max-width: 15svh;
    padding: auto;
}







  

.container {    
    align-self: center;
    justify-self: center;
    vertical-align: middle;
    border-radius: var(--shapeOne);
    background-color:var(--md-sys-color-surface) ;
    overflow:auto;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;

    max-width: 70svw;
    max-height: 70svh;
    height: 70svw;
    width: 100%;
    transition: 0.5s;
}




table,td,th {
    display: grid;
    text-align: center;
    width: fit-content;
    
}






@media (max-width: 800px) { 

    .menuA.open {
        transform: scale(1);
        transition: 0.5s;
    }
    
    .menuA:not(.open) {
        transform: scale(0);
        transition: 0.5s;
    }

    #intro:active {
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    #intro:not(:active) {
        transition: 0.5s;
    }
}


@media (min-width: 801px) { /*big*/

    .menuA:not(.open) {
        transform: scale(1);
        transition: 0.5s;
    }

    .menuA.open {
        transform: scale(0);
        transition: 0.5s;
    }


    md-fab:hover {
        transform: scale(0.8);
        transition: 0.5s;
    }
    

    .btnh:not(:hover) ~ .txth{
        transition: 0.5s;
    }
    
    
    md-fab:not(:hover){
        transition: 0.5s;
    }
    


    #intro:hover {
        transform: scale(1.1);
        max-width: 70svw;
        padding: 20px;
        margin-top: 10svh;
        transition: 0.5s;
    }
    
    #intro:not(:hover) {
        transition: 0.5s;
    }
}
