@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    /* Base styles (common for both light and dark mode) */
    --md-ref-typeface-brand: 'Roboto';
    --tabs-border:15px;
  }
  
  /* Light mode styles */
  @media (prefers-color-scheme: light) {
    :root {
     /*--md-fab-container-color:#f1d3f9;*/
      --md-primary-tab-container-color:#FFFFFF; /*tab buttons background holder */
      --md-sys-color-outline-variant:var(--md-primary-tab-container-color); /* borders color */

      --md-sys-color-outline-table:#000000; /* table borders color */
      --table-header:#e0ebffe0; /* table header surface color */

      --md-sys-color-primary: #4D8FFE; /*  primary color */
      --md-sys-color-secondary: #040404; /* secondary color */
      --md-sys-color-background: #EEEEEE; /* background color */
      --md-sys-color-surface: #323232; /*  surface color */
      --md-sys-color-surface-container:#FFFFFF; /* surface container color */


      --md-sys-color-appbar:#dedede;

      --h3-color:var(--md-sys-color-primary);
      --h1-color:rgb(0, 0, 0);
      --a-color:blue;

      --shapeOne: 15px;
      --catalog-shape-xl:15px;
      --video-shape-xl:15px;

    }
  }
  
  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    :root {

      --md-primary-tab-container-color:#212121; /* tab buttons background holder */
      --md-sys-color-outline-variant:var(--md-primary-tab-container-color); /* borders color */

      --md-sys-color-outline-table:#000000; /* table borders color */
      --table-header:#5D6BC0; /* table header surface color */

      --md-fab-container-color:black;
      --md-sys-color-primary: #4D8FFE; /* primary color */
      --md-sys-color-secondary: #e6c188; /* secondary color */
      --md-sys-color-background: rgb(0,0,0); /* background color */
      --md-sys-color-surface-variant:#504534;
      --md-sys-color-surface: #F5F5F5; /* surface color */
      --md-sys-color-surface-container:#212121; /* surface container color */
      --h3-color:var(--md-sys-color-primary);
      --h1-color:tomato;
      --a-color:blue;
      --md-sys-color-appbar:#000000;
      --md-sys-color-on-surface:white;
      --md-sys-color-surface-variant:#504534;


      --shapeOne: 15px;
      --catalog-shape-xl:15px;
      --video-shape-xl:15px;
    }
  }
 


html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color:var(--md-sys-color-on-surface);
    overflow: hidden;
    overflow-x: hidden;
}


body {

    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color:var(--md-sys-color-background) ;
    width: 100svw;
    height: 100svh;
    animation: scale-up 0.5s ease-in-out;


}


p {
    padding: 0px;
    margin: 0;
}

h1{
    color: var(--h1-color);
    
}

h3{
    color: var(--h3-color);
}

a{
    color: var(--a-color);
}


top-app-bar{
    display: flex;
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
    border: 0;


    background-color:var(--md-sys-color-appbar) ;

    height: 10svh;
    width: 100svw;

    justify-content: center;
    z-index: 3;

}


.credit{
    text-align: center;
}

.discordwidget{
    border-radius: var(--catalog-shape-xl);
    width: 100svw;
    height: 80svh;
}


.maintabs{
    overflow: hidden;
    overflow-x: hidden;
    background-color:var(--md-sys-color-surface-container) ;
}



#intro{
    overflow-x: hidden;
}



#comissionpage{
    padding: 20px;
    display: grid;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    overflow-x: hidden;
}

#reviewspage{
    padding: 20px;
    display: grid;
    justify-content: center;
    visibility: hidden;
    position: absolute;
}






.comission{
    display: flex;
    justify-content: center;
    min-width: 80svw;
    width: 80svw;

    height: 70svh;
    margin: 10px;
    border-radius: var(--video-shape-xl);
}

iframe{
    max-width: 100%;
    width: 800px;
    height: 500px;
}



p,h2,span{
    color:var(--md-sys-color-surface);
}


/*topbar buttons*/
.maintabs {
    border-radius: var(--tabs-border);
    width: 100%;
}

.generalbtn:active{
    background-color: tomato;
}







.container {    
    align-self: center;
    justify-self: center;
    overflow:auto;
    margin: 0 auto;

    border-radius: var(--shapeOne);
    background-color:var(--md-sys-color-surface-container) ;

    margin-bottom: 0;

    padding: 20px;
    margin-top: 10svh;
    max-height: 80svh;
    max-width: 90svw;
    height: 80svh;
    width: 100%;



    transition: 0.5s;
    animation-delay: 1s;
    animation:scale-up 0.5s ease-in-out;
}










/*material 3 table type shit*/

.mtable {
    border-spacing: 0;
    border-collapse: separate;
    text-indent: initial;
}


.mhead{
    background-color: var(--table-header);
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.mbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

}

.mtr > td,
.mtr > th {
  height: 50px;
  border-block-start: 1px solid var(--md-sys-color-outline-table);
  border-inline-start: 1px solid var(--md-sys-color-outline-table);
  padding: 5px 10px;
}


.mtr > td{
    font-size: 1.2em;
}

.mtr:last-of-type td,
.mtr:last-of-type th {
  border-block-end: 1px solid var(--md-sys-color-outline-table);
}



.mtr td:last-of-type,
.mtr th:last-of-type {
  border-inline-end: 1px solid var(--md-sys-color-outline-table);
}

.mtr > th {
  background-color: var(--md-sys-color-surface-table-container);
  text-shadow: 0 1px 1px var(--md-sys-color-surface-container-lowest);
  color: var(--md-sys-color-on-surface);
  font-size: 1.5em;
}



.mtr th:first-of-type {
    border-start-start-radius: var(--catalog-shape-xl);
}
  
.mtr th:last-of-type {
    border-start-end-radius: var(--catalog-shape-xl);
}
  
.mtr:last-of-type td:first-of-type {
    border-end-start-radius: var(--catalog-shape-xl);
}
  
.mtr:last-of-type td:last-of-type {
    border-end-end-radius: var(--catalog-shape-xl);
}
/*end of table type shit*/


.comission{
    scale: 0.1;opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}





@keyframes fade-in {
    from {scale:.2; opacity: 0;}
    to {scale:1;opacity: 1;}
}



@keyframes scale-up {
    from { transform: scale(0); }
    to { transform: scale(1); }
}




/*not pc screens*/
@media (max-width: 990px) { 

    /*topbar buttons*/
    .maintabs {
        border-radius: 0px;
        transition: 1s;
    }


    .credit{
        position: absolute;
        visibility: hidden;
    }

    .menuA {
        max-width: 20svw;
        min-width: 20svw;
    }
    
  
    .container{
        max-height: 90svh;
        max-width: 75svw;
        transition: 0.5s;
    }

    #labelbtn{
        visibility: hidden;
        position: absolute;
    }

    #nolabelbtn{
        visibility: visible;
        position: relative;
    }

}



@media (min-width: 991px) { /*pc screens*/


    
    .menuA {
        max-width: 10svw;
        min-width: 10svw;
    }


    md-fab:hover {
        transform: scale(0.8);
        transition: 0.5s;
    }
    

    .btnh:not(:hover) ~ .txth{
        transition: 0.5s;
    }
    
    
    md-fab:not(:hover){
        transition: 0.5s;
    }


    #nolabelbtn{
        visibility: hidden;
        position: absolute;
    }
    
}