


html {
    background: #eee;
  }
  
body {
    line-height: 1.4;
    max-width: 100svw;
    margin: 0;
    border: 0;
    animation: scale-up 0.5s ease-in-out;
}


md-toolbar,md-whiteframe,p{
  animation: fade-in 1s ease-in-out;
}


#comissionpage{
  padding: 10px;
  display: grid;
  justify-content: left;
  overflow-x: hidden;
}

md-tab{
  border: 0px;
  user-select: none;
}

md-button{
  border: 0px;
  user-select: none;
}


.videoholder {
  display: flex;
  vertical-align: center;
  align-items: center;

  min-width: 50svw;
  max-width: 80svw;
  max-height: 60svh;
  min-height: fit-content;

  transform: scale(1); /* Start at 0 scale */
  transition: transform 5s ease-in-out; /* Smooth transition */
}


#comissionpage:target .videoholder { /* Target the container when scrolled to */
  transform: scale(1); /* Scale to full size */
}

#videocaption{
  max-height: 60svh;
  min-height: max-content;
  max-width: fit-content;
}

div > video{

  max-width: 60svw;
  max-height: 85svh;
  border: 3px solid black;
  margin: 10px;
}


@keyframes fade-in {
  from {scale:.2; opacity: 0;}
  to {scale:1;opacity: 1;}
}



@keyframes scale-up {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
